@import "../../layout.css";

.more-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;

  border: 2px solid var(--dark-grey);
  color: var(--dark-grey);

  cursor: pointer;
}
