@import "../../layout.css";

/* ---------- GRID ---------- */
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  width: 100%;
  height: 600px;
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  gap: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}
.big-left {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 295px 295px;
  grid-template-areas:
    "main sub1"
    "main sub2";
}
.big-right {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sub1 main"
    "sub2 main";
}

.main {
  grid-area: main;
  background-color: #fff;
}
.sub1 {
  grid-area: sub1;
  background-color: #fff;
}
.sub2 {
  grid-area: sub2;
  background-color: #fff;
}

.item {
  position: relative;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

/* ---------- IMAGES ---------- */
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* ---------- TEXT ---------- */
/* Header */
.popular-header {
  position: absolute;
  padding: 10px 50px 10px 30px;
  background-color: var(--orange);
  color: white;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  line-height: 50px;
}

.big-left .popular-header {
  margin-top: 20px;
  margin-left: -3%;
}
.big-right .popular-header {
  margin-top: 20px;
  right: -3%;
}

.popular-header h1 {
  /* font-style: italic; */
  font-size: 50px;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
}

/* Text */
.text-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  text-align: center;
  max-width: 320px;
  padding: 8px;

  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
}

.text-p {
  font-size: 26px;
  font-weight: bold;
}

.sub-text-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 250px;
  padding: 8px;
  white-space: nowrap;

  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
}
